@page "/chat"


<div class="top-row px-4">
    @if (@ViewModel.Chatting)
    {
        <p>You are connected as <b>@ViewModel.Username</b></p>
        <button class="btn btn-sm btn-warning ml-md-auto" @onclick="@ViewModel.DisconnectAsync">Disconnect</button>
    }
</div>

<div class="content px-4">

    <h1>Blazor SignalR Chat Sample</h1>

    @if (!@ViewModel.Chatting)
    {
        <h2>Chat</h2>

        <p>
            Enter your name to start chatting:
        </p>

        <input type="text" maxlength="32" @bind="@ViewModel.Username" />
        <button type="button" @onclick="@ViewModel.Start"><span class="oi oi-chat" aria-hidden="true"></span> Chat!</button>

        @if (@ViewModel.Message != null)
        {
            <div class="invalid-feedback">@ViewModel.Message</div>
            <small id="emailHelp" class="form-text text-muted">@ViewModel.Message</small>
        }
    }

    @if (@ViewModel.Chatting)
    {
        <div id="scrollbox">

            @foreach (var item in @ViewModel.Messages)
            {
                <div class="@item.Css">
                    <div class="user">@item.Username</div>
                    <div class="msg">@item.Body</div>
                </div>
            }
            <hr />
            <textarea class="input-lg" placeholder="enter your comment" @bind="@ViewModel.NewMessage"></textarea>
            <button class="btn btn-success" @onclick="@ViewModel.SendAsync" style="margin-bottom: 30px">Send</button>
        </div>
    }
</div>
